<h1>All Advertisements</h1>

<% if @advertisements.present? %>
  <% @advertisements.each do |advertisement| %>
    <div class="row">
      <div class="col-md-8">
            <%= link_to advertisement.title, advertisement %>
      </div>
    </div>
  <% end %>
<% end %>